.signatureHelp {
    position: fixed;
    background: white;
    z-index: 1000;
}

.signatureHelp--item {
    padding: 6px 50px 5px 10px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;
    background: #333333;
    color: white;
}

.signatureHelp--spearator {
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 0 0 0 0;    
}