.webix_tree_none {
    width: 0px;
}

.webix_view {
    overflow-y: auto!important;
    overflow-x: hidden!important;
    height: 100% !important;
    width: 100% !important;
    background-color: transparent;
}

.webix_dark .webix_tree_item {
    font-family: "72", Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #fafafa;
}

.webix_light .webix_tree_item {
    font-family: "72", Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #475466;
}

.webix_tree_item.webix_selected {
    background: #094771!important;
}

.webix_tree_leaves {
    transition: height 0.3s;
    overflow: hidden;
}

.webix_drag_over {
    background: transparent;
    border: 2px #F59825 solid;
}

.webix_drag_zone,
.webix_drag_main,
.webix_drag_multiple,
.webix_drag_multiple_last {
    background-color: #3f5161!important;
    color: white;
}

.webix_tree.webix_scroll_cont >.webix_tree_leaves {
    padding: 0px;
}

.webix_tree_item.webix_selected span {
    color: white;
}