div.SplitPane.soloPane1.vertical > .Pane2,
    div.SplitPane.soloPane2.vertical > .Pane1 {
    width: 0px!important;
}

div.SplitPane.soloPane1.vertical > .Pane1,
    div.SplitPane.soloPane2.vertical > .Pane2 {
    width: 100% !important;
}

div.SplitPane.soloPane1.horizontal > .Pane2,
    div.SplitPane.soloPane2.horizontal > .Pane1 {
    height: 0px !important;
}

div.SplitPane.soloPane1.horizontal > .Pane1,
    div.SplitPane.soloPane2.horizontal > .Pane2 {
    height: 100% !important;
}