/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252526;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.deltaMonacoAdded {
	background: #0C7D9D;
	width: 3px !important;
	margin-left: 3px;
}